<template>
  <div></div>
</template>

<script>
// import { csv2md } from 'csv2md'

// export default {
//   data() {
//     return {
//       markdownTable: '',
//     }
//   },
//   async mounted() {
//     let csvFileContents = await this.$content('bank-transactions').fetch()
//     console.log(csvFileContents)
//     const csvString = csvFileContents.body
//       .map((row) => {
//         return `${row.Date}, ${row['Dollar Change']} , ${row.Description}`
//       })
//       .join('\n')
//     console.log(csvString)
//     this.markdownTable = csv2md(`Date, Dollar Change, Description\n${csvString}`, {
//       pretty: true,
//     })
//     console.log(this.markdownTable)
//   },
// }
</script>